<div class="jumbotron display-4 mb+3">
  <h1 class="mb-4" style="font-size:60px">About Us</h1>
  <p class="lead">This is a Node/Expree app for jooting down ideas for future youtube Videos.</p>
  <p style="font-size:15px">Version: 1.0.0</p>
</div>